@import url("styles/carousel.css");
@import url("styles/header.css");
@import url("styles/about.css");
@import url("styles/team.css");
@import url("styles/footer.css");
@import url("styles/main-image.css");
@import url("styles/feedbacks.css");

:root{
  --fonte-principal: "Poppins";
  --cor-de-fundo: #021420;
  --branco:#ffffff;
  --cor-de-fundo-secundaria: #0C1A38;
}

.App{
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  display: flex;
  flex-direction: column;
  min-width: 250px; 
  font: 14px var(--fonte-principal);
}




 
