@import url("styles/carousel.css");
@import url("styles/feedbacks.css");

:root {
  --branco: #ffffff;
  --toggle-bg: #454545;
  --toggle-fg: #6c6c6c;
  --text-color-primary: #FBF8F3;
  --text-color-secundary: #FBF8F3;
  --background-color-primary: #021420;
  --background-color-secundary: #0C1A38;
  --fonte-principal: "Poppins", sans-serif;
  --contrast-logo: .2;
}

.App {
  display: flex;
  min-width: 250px;
  flex-direction: column;
  color: var(--text-color-primary);
  font: 14px var(--fonte-principal);
  transition: background-color 0.25s ease-in-out;
  background-color: var(--background-color-primary);
}

[data-theme="light"]{
  --toggle-bg:#DEDEDE;
  --toggle-fg: #ffffff;
  --text-color-primary: #232323;
  --background-color-primary:#FBF8F3;
  --background-color-secundary: #122756;
  --contrast-logo: .5
}
 
[data-theme="light"] footer{
  background-color: var(--branco);
  color: var(--text-color-primary);
}

li {
  list-style-type: none;
}
