.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-about{
    padding: 1em;
}

.about-title-content h1{
    font-size: 18px;
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 600;
}

.about-title-content p{
    font-size: 10px;
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 400;
    text-align: justify;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .about-title-content h1{
        font-size: 18px;
        color: var(--branco);
        font-family: var(--fonte-principal);
        font-weight: 600;
    }
    
    .about-title-content p{
        color: var(--branco);
        font-size: 12px;
        text-align: justify;
        font-weight: 400;
    }
}

@media screen and (min-width:1025px){
    .container-about{
        width: 50%;
        line-height: 1.5em;
        padding: 1em;
    }

    .about-title-content h1{
        font-size: 18px;
        color: var(--branco);
        font-family: var(--fonte-principal);
        font-weight: 600;
    }
    
    .about-title-content p{
        color: var(--branco);
        font-size: 14px;
        text-align: justify;
        font-weight: 400;
    }
}