.container-about {
    margin: 0;
    width: 100%;
    padding: 0 2em;
}

.about-title-content h1 {
    font-size: 20px;
    font-weight: 600;
}

.about-title-content p {
    font-weight: 300;
    text-align: justify;
}

.about-introdution {
    margin: 1%;
}

@media screen and (min-width:1025px) {
    .container-about {
        height: 80vh;
        display: flex;
        padding: 0 10%;
        align-items: center;
    }

    .about-introdution {
        width: 50%;
    }

    .about-title-content p {
        font-size: 16px;
        line-height: 1.7em;
        text-align: justify;
    }
}