.container-about {
    margin: 0;
    width: 100%;
    padding: 10%;
    display: flex;
    align-items: center;
    
}

.about-title-content h1 {
    font-size: 4vw;
    font-weight: 600;
}

.about-title-content p {
    font-size: 2.3vw;
    font-weight: 300;
    text-align: justify;
}

.about-introdution {
    margin: 1%;
}

@media screen and (min-width: 768px) {

    .about-title-content h1{
    font-size:3vw;
    }
}

@media screen and (min-width:1024px) {

    .about-introdution {
        width: 70%;
    }

    .about-title-content p {
        font-size: 1.3vw;
        line-height: 1.7em;
    }
}