.container-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .imagem-container {
    max-width: 100%;
    text-align: center;
  }
  
  .imagem-maxima {
    max-width: 100%; 
    height: auto;
  }

  @media screen and (min-width:1025px){

    .container-image{
      margin: 0 1%  ;
    }
    
    .imagem-container {
      width: 100vw; 
      text-align: center;
      margin: 0 !important;
      padding: 0;
    }
    
    .imagem-maxima {
      width: 100vw;
      height: 100%;
      margin: 0; 
      height: auto;
    }

    .imagem-maxima{
      width: 100%;
    }
  }