.title-carousel {
    text-align: center;
    font-size: 18px;
}

.title-slide {
    font-family: var(--fonte-principal);
    font-size: 14px;
}

.text-slide {
    font-family: var(--fonte-principal);
    font-size: 10px;
}

.swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.swiper-slide {
    padding: 3%;
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    grid-row: 1;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    mask-image: linear-gradient(to top, transparent 20%, gray 50%);
}

.App-content-carousel {
    display: flex;
}

.App-content-text-carousel {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

div.swiper-button-next,
div.swiper-button-prev {
    display: none;
}

div.swiper-pagination {
    position: initial;
}

.swiper-pagination-bullet-active {
    background-color: var(--branco) !important;
}

.swiper-pagination-bullet {
    background: var(--branco) !important;
}

#imagecarousel1 {
    object-position: center -2em;
}

#imagecarousel2 {
    object-position: center 80%;
}

#imagecarousel3 {
    object-position: center 70%;
}

#imagecarousel4 {
    object-position: center 63%;

}

#imagecarousel5 {
    object-position: center 100%;
}

@media screen and (min-width: 768px) and (max-width:1024px) {

    div.swiper-button-next,
    div.swiper-button-prev {
        display: none;
    }

    .App-content-carousel {
        grid-template-columns: 50% 50%;

    }

    .swiper-slide img {
        width: 100%;
        height: 400px;

    }

    #imagecarousel1 {
        object-fit: cover;
        object-position: center;
    }

    #imagecarousel2 {
        object-position: center 90%;
        object-fit: cover;
    }

    #imagecarousel3 {
        object-position: center 80%;
        object-fit: cover;
    }

    #imagecarousel4 {
        object-position: 0em -10em;
    }

    #imagecarousel5 {
        object-position: center 100%;
    }

}

@media screen and (min-width: 1025px) {

    .swiper {
        margin: 3% 0;
        padding: 1% !important;
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .App-content-carousel {
        margin: auto;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-row: 1;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        padding: 0;
    }

    .App-content-carousel>img {
        width: 80%;
        height: 60vh;
        mask-image: none;
        margin: auto;
        padding: 0;
    }

    .App-content-text-carousel {
        grid-column: 2;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        word-break: break-word;
    }

    .title-slide{
        font-size: 2.5em;
    }

    .text-slide{
        font-size: 1.5em;
    }

    .title-carousel {
        font-size: 30px;
        font-weight: 600;
    }

    #imagecarousel1 {
        object-position: center;
    }

    #imagecarousel2 {
        object-position: center -5cm;
    }

    #imagecarousel3 {
        object-position: center -6cm;
    }

    #imagecarousel4 {
        object-position: center -4.5cm;
    }

    #imagecarousel5 {
        object-position: center -7cm;
    }

    div.swiper-button-next,
    div.swiper-button-prev {
        display: block;
        color: var(--branco);
    }

    div.swiper-button-next{
        right: 5% !important;
    }

    div.swiper-button-prev{
        left: 5% !important;
    }

}