  .container-contato {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
  }

  .title-contato {
      width: 100%;
      text-align: center;
      font-size: 2.5em;
  }

  .contact-content {
      display: grid;
      grid-template-columns: 35% 35% 25%;
      justify-content: space-between;
      padding: 5em;
  }

  .contact-content img{
    margin-right: 1%;
  }

  .contact-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1;
      width: 100%;
      height: 100%;
  }

  .logo-image-contact {
      width: 50%;
  }

  .address-email-container{
    grid-column: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .email, .address{
    margin: 1em 0;
  }

  .contacts {
      grid-column: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
  }

  .contacts p {
      font-size: 16px;
    }

  .number-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 100%;
  }

  .social-media-icons {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 10%;
      padding: 0;
    }
  
  .social-media-icons p{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 2em;
  }

  .social-media-contact{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 2%;
  }

  .logo-youtube{
    width: 30px;
}


  