.App-header {
    top: 0;
    z-index: 2;
    width: 100%;
    height: 70px;
    padding: 0 0.5%;
    display: grid;
    position: sticky;
    align-items: center;
    grid-template-rows: 1;
    transition: top 0.3s ease;
    grid-template-columns: 20% 70% 10%;
    justify-content: space-between;
    background-color: var(--background-color-secundary);
    transition: top 0.3s ease-in-out;
}

.logo__image {
    grid-row: 1;
    width: 100px;
    height: 50px;
    grid-column: 2;
    object-position: center;
}

.header-logo a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header {
    grid-row: 1;
    height: 100%;
    display: flex;
    grid-column: 1;
    position: relative;
    align-items: center;
    justify-content: center;
}

.logo-social-media {
    width: 20px;
}

.burguer-menu__header {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Menu.png);
}

.menu-list {
    right: 0;
    top: 100%;
    padding: 0;
    width: 60vw;
    height: 70vh;
    display: none;
    position: absolute;
    background-color: #021420;
    border: 1px solid var(--branco);
}

.menu-list p {
    bottom: 0;
    width: 100%;
    font-size: 10px;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
}

.container__button:checked~.menu-list {
    display: block;
}

.menu-list-item {
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
}

.menu-list-link {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color-secundary);
}

.social-media {
    bottom: 5%;
    width: 100%;
    display: flex;
    padding: 1em 3em;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.container__button {
    display: none;
}

.menu-extensive {
    margin: 0;
    display: none;
}

.toggle-container{
    position: relative;
    height: 100%;
}

.toggle {
    visibility: hidden;
}

.toggle+label {
    display: flex;
    cursor: pointer;
    font-size: 1.5em;
    align-items: center;
    color: var(--toggle-bg);
}

.toggle+label::before {
    content:"";
    width: 2em;
    height: 1em;
    border-radius: 1em;
    margin-right: 0.5em;
    background-color: var(--toggle-bg);
    transition: background-color 250ms ease-in-out;
}

.toggle+label::after {
    content: "";
    left: 0.2em;
    width: 0.8em;
    height: 0.8em;
    border-radius: 1em;
    position: absolute;
    background-color: var(--toggle-fg);
    transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked + label::after{
    transform: translateX(100%);
}

@media screen and (min-width: 768px) {
    .App-header {
        margin: 0;
        padding: 0;
        height: 100%;
        justify-content: space-around;
        grid-template-columns: 30% 60% 10%;
    }

    .logo__image {
        width: 35%;
        height: 90%;
        grid-column: 1;
    }

    .container-header{
        grid-column: 2;
    }

    .menu-extensive {
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .navigation {
        width: 90%;
    }

    .menu__item-header {
        display: flex;
        align-items: center;
    }

    .menu__link {
        font-size: .9vw;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--text-color-secundary);
    }

    .burguer-menu__header {
        display: none;
    }

    .toggle-container{
        width: 100%;
        height: 100%;
        margin: auto;
        padding: auto;
    }
}

@media screen and (min-width: 1025px) {
    .menu__link {
        display: block;
        padding: 0.2em 0;
        overflow: hidden;
        position: relative;
    }

    .menu__link::after {
        left: 0;
        bottom: 0;
        opacity: 1;
        content: '';
        width: 100%;
        height: 0.07em;
        position: absolute;
        background-color: var(--branco);
        transform: translate3d(-101%, 0, 0);
        transition: opacity 300ms, transform 300ms;
    }

    .menu__link:hover::after,
    .menu__link:focus::after {
        transform: translate3d(0, 0, 0);
    }
    
}