.container-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: var(--cor-de-fundo);
    padding-top: 2em;
    padding-bottom: 2em;
}

.team {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

.team-title h3{
    margin-bottom: 30px;
}

.team h6 {
    font-weight: 300;
}

.team-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-orcamento{
    width: 50%;
    max-height:15% ;
    padding: 1em;
    border-radius: 50px;
    background-color: var(--branco);
    color: var(--cor-de-fundo);
    font-size: 1.5em;
    text-align: center;
}

.btn-orcamento:hover{
    box-shadow: 0 0 10px 1px var(--branco);
    font-size: 1.55em;
    transition: 0.3s;
    border: none;
}

@media screen and (max-width: 767px) {

    .team {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .team-person {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px;
    }
}
